# mod_rewrite itt kezdodik

RewriteEngine on

# nem vonatkozik letezo mappakra, tehat ha a szerveren lezezik a mappa akkor ne valtozzon semmi

RewriteCond %{REQUEST_FILENAME} !-d

# fajlkiterjesztes vizsgalat

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php [NC,L]
